<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmetics s'sophie - כניסה לחשבון</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>


    <form method="POST" action="/login">
        <h2>כניסה לחשבון</h2>
        
        <label for="email">כתובת מייל</label>
        <input type="email" id="email" name="email" required>
        <br>

        <label for="password">סיסמה</label>
        <input type="password" id="password" name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,14}$" title="סיסמה חייבת לכלול בין 8 ל-14 תווים, אות אנגלית ומספר">
        <br>

        <button type="button" id="forgotPasswordBtn" onclick="forgotPassword()">שכחתי סיסמה</button>
        <button type="submit">כניסה</button>
        <p id="signUp">אין לך חשבון? <button type="button" id="signUpBtn" onclick="navigateToSignUp()">להרשמה</button></p>

    </form>
    <div id="error-message" style="display: none; color: red;"></div> <!-- Error message div -->


    <!-- image to the right side of the background -->
    <img src="static\img\signInPage.jpg"> 

    <script>
        function forgotPassword() {
            var userInput = prompt("אנא הזן/י מייל :");
            // להוסיף לוגיקה לאיפוס סיסמה
        }

        function navigateTo(page) {
            window.location.href = page;
        }

        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting normally

            // Serialize form data into JSON
            const formData = new FormData(event.target);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });

            // Send a POST request to the server
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                return response.json();
            })
            .then(data => {
                console.log('data = ', data);
                if (data.success) {
                    // Redirect to the specified URL if login is successful
                    window.location.href = data.redirect_url;
                } else {
                    // Display the error message
                    const errorMessageDiv = document.getElementById('error-message');
                    errorMessageDiv.textContent = data.error_message;
                    errorMessageDiv.style.display = 'block'; // Show the error message   
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        function navigateToSignUp() {
        window.location.href = "{{ url_for('sign_up') }}";
        }

    </script>

</body>
</html>
