<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nail Turns Booking</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/make-appointment.css') }}">

</head>
<body>
  <header>
    <!-- Load navbar from navbar.html -->
    <div id="navbar-container"></div>
  </header>
  <main>
    <div class="container">
      <button id="myAppointmentBtn" onclick="myAppointment()">התורים שלי</button>
      {% if account_id == 1 %}
      <button id="allAppointmentBtn" onclick="allAppointment()">כל התורים</button>
      {% endif %}
      <div class="picker">
        <h2>בחירת תאריך</h2>
        <div class="month-year-picker">
          <select id="year-selector">
            <option value="2024" selected>2024</option>
            <option value="2025">2025</option>
          </select>
          <select id="month-selector">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        </div>
      </div>
      <div class="content">
        <div class="days-names" id="day-names"></div>
        <div class="calendar" id="calendar"></div>
        <div class="available-times" id="available-turns"></div>
        
      </div>
    </div>
    </main>
</body>
<script>

  // Fetch and load navbar from navbar.html
  fetch('/navbar')
    .then(response => response.text())
    .then(data => {
        const navbarContainer = document.getElementById('navbar-container');
        navbarContainer.innerHTML = data;
    })
    .catch(error => {
        console.error('Error fetching navbar:', error);
    });
    function navigateTo(page) {
      window.location.href = page;
    }
    function myAppointment() {
      // navigate to my-appointments page
      navigateTo('/my-appointments')
    }

    function allAppointment() {
      // navigate to my-appointments page
      navigateTo('/all-appointments')
    }
      
    document.addEventListener('DOMContentLoaded', function () {
    const yearSelector = document.getElementById('year-selector');
    const monthSelector = document.getElementById('month-selector');
    const calendarDiv = document.getElementById('calendar');
    const availableTurnsDiv = document.getElementById('available-turns');

    yearSelector.addEventListener('change', generateCalendar);
    monthSelector.addEventListener('change', generateCalendar);

  function generateCalendar() {
    const selectedYear = parseInt(yearSelector.value);
    const selectedMonth = parseInt(monthSelector.value);
    const daysInMonth = new Date(selectedYear, selectedMonth, 0).getDate(); // Get the number of days in the selected month
    // -1 since monthSelect is 1-12 but Date objects use 0-11 for months
    const firstDayOfMonth = new Date(selectedYear, selectedMonth - 1, 1).getDay(); // Get the day of the week for the first day of the month

    // Array to hold the names of the days
    const dayNames = ['א', 'ב', 'ג', 'ד', 'ה', 'ו', 'ש'];

    // Clear previous calendar content
    calendarDiv.innerHTML = '';

    // Start creating the calendar HTML
    let calendarHTML = '<div class="day-names">';
    for (let i = 0; i < 7; i++) {
        calendarHTML += `<div class="day-name">${dayNames[i]}</div>`;
    }
    calendarHTML += '</div>';

    // Start a new row for the first week
    calendarHTML += '<div class="week">';

    // Fill empty cells before the first day of the month
    for (let i = 0; i < firstDayOfMonth; i++) {
        calendarHTML += '<div class="calendar-day empty"></div>';
    }

    // Create calendar cells for each day in the month
    for (let i = 1; i <= daysInMonth; i++) {
        const currentDate = new Date(selectedYear, selectedMonth-1, i)
        const dayOfWeek = currentDate.getDay();
        const isAvailable = checkAvailability(currentDate); // Check if the day is available
        const className = isAvailable ? 'calendar-day available' : 'calendar-day';
        const dot = isAvailable ? '<span class="dot"></span>' : '';

        calendarHTML += `<div class="${className}" data-day="${i}">${i}${dot}</div>`;

        // Start a new row if it's the last day of the week or the last day of the month
        if (dayOfWeek === 6 || i === daysInMonth) {
            // Fill empty cells after the last day of the month
            if (i === daysInMonth) {
                for (let j = dayOfWeek + 1; j < 7; j++) {
                    calendarHTML += '<div class="calendar-day empty"></div>';
                }
            }
            calendarHTML += '</div>';
            if (i !== daysInMonth) {
                calendarHTML += '<div class="week">';
            }
        }
    }

    // Append the generated calendar HTML to the calendar container
    calendarDiv.innerHTML = calendarHTML;

    // Add event listener to each day
    const days = document.querySelectorAll('.calendar-day.available');
    days.forEach(day => {
        day.addEventListener('click', () => {
            const selectedDay = parseInt(day.dataset.day);
            showAvailableTurns(selectedDay, selectedMonth, selectedYear );
        });
    });
  }



  // Function to check availability (dummy implementation)
  function checkAvailability(date) {
    const dateAvailability = getDateAvailability(date.getDate(), date.getMonth() + 1, date.getFullYear())
    if (!dateAvailability) {
      return false
    }

    const keys = Object.keys(dateAvailability)
    if (!keys) {
      return false
    }

    return keys.length > 0
  }

  function padNumberWithZero(num) {
    return (num < 10 ? '0' : '') + num;
  }

  function getDateAvailability(day, month, year) {
    const datesDictionary = {{ appointments_by_date | safe }};
    dateKey = `${padNumberWithZero(day)}-${padNumberWithZero(month)}-${year}`
    return datesDictionary[dateKey]
  }

  function fixTime(hour) {
    return `${padNumberWithZero(hour)}:00`
  }

  function showAvailableTurns(day, month, year) {      
    const dateAvailability = getDateAvailability(day, month, year)   
    const availableHours = Object.keys(dateAvailability);

    let availableTurnsHTML = '<h2>בחירת שעה</h2>';
    availableTurnsHTML += '<ul>';
    availableHours.forEach(hour => {
      const time = fixTime(hour)
      const availableEmployeesAtTime = dateAvailability[hour]
      availableEmployeesAtTime.forEach(employee => {
        availableTurnsHTML += `<li><button class="time-btn" data-employee-id=${employee.id} data-time=${time}>${time}<br>${employee.name}</button></li>`;
      })
    });
    availableTurnsHTML += '</ul>';
    availableTurnsHTML += '<button class="btn" id="submitAppointmentBtn">קביעת תור</button>';

    availableTurnsDiv.innerHTML = availableTurnsHTML;
    const buttons = document.querySelectorAll('.time-btn');
    buttons.forEach(button => {
        button.addEventListener('click', function() {
            const selectedButton = event.target;
            selectAppointment(selectedButton);
            const submitAppointmentBtn = document.getElementById('submitAppointmentBtn');
            submitAppointmentBtn.style.display = 'block';
            // Get the values from the selected button and assign them to variables
            // const buttonText = selectedButton.textContent.trim();
            // Define a regular expression pattern to match the time and employee name, time is in HH:mm format
            // const pattern = /^(\d{2}:\d{2})\s*(.*?)$/;
            // Extract time and employee name using the regular expression
            // const match = buttonText.match(pattern);
            // if (match && match.length === 3) {
                // selectedTime = match[1]; // Extract time
                // selectedEmployeeName = match[2]; // Extract employee name
                // Now you have selectedTime and selectedEmployeeName ready to use
            // } else {
                // console.error('Failed to extract time and employee name from button text:', buttonText);
            // }
            selectedTime = selectedButton.getAttribute('data-time')
            selectedEmployeeId = selectedButton.getAttribute('data-employee-id')
            console.log(`selectedTime: ${selectedTime}, selectedEmployeeId: ${selectedEmployeeId}`)
            selectedDate = `${padNumberWithZero(day)}-${padNumberWithZero(month)}-${year}`; // Assemble the date string

        });
    });
    const submitAppointmentBtn = document.getElementById('submitAppointmentBtn');
    console.log(submitAppointmentBtn)
    submitAppointmentBtn.addEventListener('click', function() {
      submitAppointment(selectedDate, selectedTime, selectedEmployeeId);
    });
  }

  // Function to handle appointment selection
  function selectAppointment(selectedButton) {
    const buttons = document.querySelectorAll('.time-btn');
    buttons.forEach(button => {
        if (button === selectedButton) {
            button.classList.add('selected');
        } else {
            button.classList.remove('selected');
        }
    });
  }


  // Event delegation to handle click events on buttons dynamically created
  availableTurnsDiv.addEventListener('click', function(event) {
    if (event.target && event.target.matches('.time-btn')) {
      const selectedButton = event.target;
      selectAppointment(selectedButton);
    }
  });
  // Initialize calendar with current month and year
  const currentYear = new Date().getFullYear();
  // month is returned as 0-based.
  const currentMonth = new Date().getMonth() + 1;
  yearSelector.value = currentYear.toString();
  monthSelector.value = currentMonth.toString();
  generateCalendar();

  function submitAppointment(date, time, employeeId) {
    fetch('/submit-appointment', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          date: date,
          time: time,
          employee_id: employeeId
        })
    })
    .then(response => {
            if (response.ok) {
                // If submit is successful, reload the page to reflect the changes
                window.location.reload();
            } else {
                // Handle error cases if necessary
                console.error("Failed to submit appointment");
            }
        })
        .catch(error => {
            console.error("Error submit appointment:", error);
        });
}

});




</script>
</html>
