<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Page</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/manager-appointment.css') }}">

</head>
<body>
    <header>
        <!-- Load navbar from navbar.html -->
        <div id="navbar-container"></div>
    </header>
    <main>
        <div class="flex-container">
            <!-- Section for viewing employee work constraints -->
            <div class="constraints-section">
                <h2>אילוצי עובדות</h2>
                <div id="constraints-container">
                    <!-- Constraints will be loaded here using AJAX -->
                    {% for constraint in constraints %}
                        <div class="constraint">
                            <h3>{{ constraint[3] }} {{ constraint[4] }}</h3>
                            <p>תאריך: {{ constraint[1] }}</p>
                            <p>שעה: {{ constraint[2] }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>            
            <!-- Section for creating a work schedule -->
            <div id="calendar">
                <table>
                    <thead>
                      <tr>
                        <th>תאריך</th>
                        <th>שעת התחלה</th>
                        <th>שעת סיום</th>
                        <th>עובדת</th>
                      </tr>
                    </thead>
                    <tbody id="work-schedule-table-body">
                      <!-- Appointment details will be populated here -->
                    </tbody>
                  </table>
            </div>
            <div id="employeeModal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form id="employeeForm">
                                <div class="form-group">
                                    <label for="employeeDropdown">בחירת עובדת</label>
                                    <select id="employeeDropdown" class="form-control">
                                        <!-- Employee options will be dynamically added here -->
                                    </select>
                                </div>
                                <button class= 'btn' id="submitAppointment">קביעת משמרת</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script>
    
    // Fetch and load navbar from navbar.html
    fetch('/navbar')
          .then(response => response.text())
          .then(data => {
            document.getElementById('navbar-container').innerHTML = data;
            document.getElementById('navbar-container').style.display = 'block'; // Show the navbar container
          });
          function navigateTo(page) {
          window.location.href = page;
        }

        $(document).ready(function() {
            // Initialize FullCalendar
            $('#calendar').fullCalendar({
                defaultView: 'agendaWeek', // Display week view
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },
                editable: true, // Allow event editing
                selectable: true, // Allow selecting slots
                selectHelper: true,
                select: function(start, end) {
                    // Handle slot selection
                    console.log('Selected: ' + start.format() + ' to ' + end.format());
                    // Implement logic to prompt manager to assign employee
                    // You may open a modal or display a form for employee selection
                    // Store the selected start and end times
                    selectedStartTime = start;
                    selectedEndTime = end;
                },
                columnFormat: 'ddd DD/MM' // Format the column headers
            });

            // Fetch employees from Flask route and populate the dropdown
            fetch('/get-employees')
                .then(response => response.json())
                .then(data => {
                    const employeeDropdown = document.getElementById('employeeDropdown');
                    // Clear existing options
                    employeeDropdown.innerHTML = '';
                    // Iterate over the employees and add options to the select element
                    data.forEach(employee => {
                        const option = document.createElement('option');
                        option.value = employee[0]; 
                        option.textContent = `${employee[2]} ${employee[3]}`;
                        console.log(option.textContent);
                        employeeDropdown.appendChild(option);
                    });
                });

            // Event listener for button click to submit appointment
            document.getElementById('submitAppointment').addEventListener('click', function() {
                const employeeId = document.getElementById('employeeDropdown').value;
                // Submit appointment details to Flask route
                const appointmentData = {
                    employeeId: employeeId,
                    startTime: selectedStartTime.format(),
                    endTime: selectedEndTime.format()
                };
                // Make a POST request to Flask route to save the appointment
                fetch('/save-work-schedule', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(appointmentData)
                })
                .then(response => {
                    if (response.ok) {
                        // Appointment saved successfully
                        console.log('Appointment saved successfully');
                    } else {
                        // Appointment save failed
                        console.error('Failed to save appointment');
                    }
                })
                .catch(error => {
                    console.error('Error saving appointment:', error);
                });
            });
        });

        function padNumberWithZero(num) {
            return (num < 10 ? '0' : '') + num;
        }

        function fixTime(hour) {
            return `${padNumberWithZero(hour)}:00`
        }

        $(document).ready(function() {
            // Fetch appointments from the server
            $.get('/get-work-schedule', function(data) {
                // Populate the table body with appointment details
                data.forEach(function(appointment) {
                    console.log('appointment = ', appointment)
                    const tableEntry = `
                        <tr>
                            <td>${appointment[1]}</td>
                            <td>${fixTime(appointment[2].hour)}</td>
                            <td>${fixTime(appointment[3].hour)}</td>
                            <td>${appointment[5]} ${appointment[6]}</td>
                        </tr>
                    `
                    $('#work-schedule-table-body').append(tableEntry);
                });
            });
        });
</script>
</html>
