<!DOCTYPE html>
<html lang="en">
<!-- navbar.html -->
<style>
#navbar {
  background-image: url(/static/img/navbarImage.png); 
  background-size: cover;
  background-position-y: 40%;
  padding: 3%;
  color: white;
  text-align: right;
}

#navbar button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
</style>
<div id="navbar">
  {% if user_account_type in ['מתלמדת', 'מנהלת'] %}
    <button onclick="navigateTo('/apprenticeship')">התלמדויות</button>
  {% endif %}
  {% if user_account_type == 'לקוחה' %}
    <button onclick="navigateTo('/make-appointment')">קביעת תור</button>
  {% elif user_account_type in ['עובדת', 'מנהלת'] %}
    <button onclick="navigateTo('/Work-constraints')">תורים</button>
  {% endif %}
  <button onclick="navigateTo('/forum')">פורום</button>
  <button onclick="navigateTo('/dashboard')">איזור אישי</button>
  <button type="button" id="logoutBtn" onclick="navigateTo('/logout')">יציאה</button>
  <span id="user-info">
    {% if user_first_name and user_last_name %}
        ברוכה הבאה, {{ user_first_name }} {{ user_last_name }}
    {% endif %}
</span>
</div>

</html>
