<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sophie's Cosmetics</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/review.css') }}">



</head>

<body>
    <header>
        <div id="navbar-container"></div>
    </header>
    <main>
    <div id="main-content">
    <div id="background-rectangle"></div>
    <div class="container">
        <h2>חשוב לנו לשמוע על החויה שלכן </h2>
        <form id="feedbackForm" method="POST" action="/submit-review" data-apprenticeship-id="{{ apprenticeship.apprenticeship_id }}">
            <label for="satisfactionStoreup">מה היא רמת שביעת הרצון שלך על ההתלמדות שעברת?<br> </label> <span id="stateValue">5</span></label>
            <input type="range" id="satisfactionStoreup" name="satisfactionStoreup" min="0" max="10" value="5" oninput="updateValue('stateValue', this.value)">
            <label for="satisfactionStoreexp">עד כמה הרגשת שצברת ידע רלוונטי למקצוע בהתלמדות שעברת? <br> <span id="expValue">5</span></label>
            <input type="range" id="satisfactionStoreexp" name="satisfactionStoreexp" min="0" max="10" value="5" oninput="updateValue('expValue', this.value)">
            <label for="satisfactionStoreteq">עד כמה היית מרוצה משיטת הלימודים בהתלמדות שעברת?<br> </label> <span id="teqeValue">5</span></label>
            <input type="range" id="satisfactionStoreteq" name="satisfactionStoreteq" min="0" max="10" value="5" oninput="updateValue('teqeValue', this.value)">
            <label for="satisfactionStore">עד כמה ממליצה לבנות להצטרף להתלמדות אצלנו? <br>  <span id="storeValue"> <br>  5   <br> </span></label>
            <input type="range" id="satisfactionStore" name="satisfactionStore" min="0" max="10" value="5" oninput="updateValue('storeValue', this.value)">
            <label for="comments">:הערות נספות</label>
            <textarea id="comments" name="comments" rows="4" placeholder="Write your comments here..."></textarea>
            <button class="btn" type="submit">הגשת משוב</button>
        </form>
        <p id="successMessage">המשוב נשלח בהצלחה! תודה על ההשתתפות.</p>
    </div>
    </div>
    </main>



    <script>
        function loadNavbar() {
            fetch('/navbar')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('navbar-container').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error loading navbar:', error);
                });
        }
        function submitFeedback(event) {
            event.preventDefault();
            document.getElementById("feedbackForm").style.display = "none";
            document.getElementById("successMessage").style.display = "block";
        }
        function updateValue(targetId, value) {
            document.getElementById(targetId).innerText = value;
        }
        function updateGradient(value) {
            // Update the gradient based on the range slider value
            const gradientValue = `linear-gradient(to right, #4285f4 0%, #4285f4 ${value}%, transparent ${value}%, transparent 100%)`;
            document.getElementById("satisfactionStoreup").style.background = gradientValue;
            document.getElementById("satisfactionStoreexp").style.background = gradientValue;
            document.getElementById("satisfactionStoreteq").style.background = gradientValue;
            document.getElementById("satisfactionStore").style.background = gradientValue;
            // Update the displayed value
            document.getElementById("stateValue").innerText = value;
            document.getElementById("expValue").innerText = value;
            document.getElementById("teqeValue").innerText = value;
            document.getElementById("storeValue").innerText = value;

        }

        // Call the loadNavbar function when the page loads
window.addEventListener('load', loadNavbar);
          function navigateTo(page) {
          window.location.href = page;
        }
        document.querySelector('form').addEventListener('submit', function(event) {
          event.preventDefault(); // Prevent the form from submitting normally

            // Serialize form data into JSON
            const formData = new FormData(event.target);
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });

            const form = document.getElementById('feedbackForm');      
            const apprenticeshipId = form.getAttribute('data-apprenticeship-id');

          // Send a POST request to the server
          fetch(`/submit-review/${apprenticeshipId}` , {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Set-Cookie': 'Beautiful-Cookie=' + localStorage.getItem('Beautiful-Cookie') + ';'
            },
            body: JSON.stringify(jsonData)
          })
          .then(response => {
            if (response.ok) {
                // If submit is successful, reload the page to reflect the changes
                window.location.href="/my-apprenticeship";
            } else {
                console.error("Failed to submit review for apprenticeship");
            }
          })
          .catch(error => {
              console.error("Error submit review for apprenticeship:", error);
          });
        })

    </script>

</body>

</html>

