body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevent body overflow */
  }

  #main-content {
    min-height: 100vh;
    position: relative;
    overflow: hidden; /* Hide any overflow outside main-content */
  }

  #background-rectangle {
    background-color: #FBB8A1;
    position: absolute;
    top: 3%;
    left: 2%;
    bottom: 5%;
    width: 96%;
    height: 80%;
    z-index: -1;
    border-radius: 30px; /* Adjust the radius as needed */
  }

  header {
      height: 10%;
    position: relative;
    z-index: 2; /* Ensure header is above background-rectangle */
  }

  main{
      height: 90%;
  }
  #form-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    direction: rtl;
  }

  .question-container {
    margin-bottom: 20px;
  }

  .question {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }

  #submit-newSubject {
    background-color: #E50058;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
  }

  #title{
    padding: 10px;
    width: 100%;
  }

  #content{
    padding: 20px;
    width: 100%;
  }